doctype html
html
  head
    title #{'Stock Picker'}
    link(rel="stylesheet", href="styles.css", attr)
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    block content
    br
    hr
    footer
      p Copyright &copy; !{new Date().getFullYear()}
    script(src="site.js")
    script(src="autocomplete.js")
