body {
  padding: 1rem;
}

.explainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1rem 0;
  box-sizing: border-box;
}

.explainer > ul > li {
  list-style: none;
}

.stockForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stockForm > .symbolInput {
  width: 80%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.stockForm > .submitButton {
  width: 40%;
  height: 2rem;
}

.stockForm > .submitButton:hover {
  cursor: pointer;
}

.stockForm > .submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#autoCompleteWrapper {
  width: 65%;
  height: 15rem;
  margin: -7px 0 1rem 0;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  display: none;
}

#loader,
#results {
  display: none;
}

/* Loader Styles */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #007bff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
